In [ ]:
#creating dataframe
import pandas as pd
data = {
    "reg no": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115],
    "name": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ivy", "Jack", "Kevin", "Liam", "Mia", "Noah", "Olivia"],
    "gender": ["Female", "Male", "Male", "Male", "Female", "Male", "Female", "Female", "Female", "Male", "Male", "Male", "Female", "Male", "Female"],
    'semester': [1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3],
    "study hrs": [5, 2, 8, 4, 6, 3, 7, 1, 9, 5, 2, 8, 4, 6, 3],
    "coding completed": [10, 5, 15, 8, 12, 7, 9, 3, 16, 10, 5, 15, 8, 12, 7],
    "intern": ["yes", 'yes', 'no', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'no'],
    "s1 score": [10, 20, 30, 25, 35, 28, 22, 15, 40, 30, 20, 35, 25, 30, 28],
    "s2 score": [20, 30, 40, 35, 45, 38, 32, 25, 50, 40, 30, 45, 35, 40, 38],
    "s3 score": [30, 40, 50, 45, 55, 48, 42, 35, 60, 50, 40, 55, 45, 50, 48],
    'cgpa': [8.5, 9.2, 7.8, 8.3, 9.0, 8.1, 8.7, 7.5, 9.3, 8.6, 8.0, 9.1, 8.4, 8.9, 8.2]
}

# Step 3: Create a DataFrame
df = pd.DataFrame(data)

# # Step 4: Print the DataFrame
# print(df)

# Step 5: Write the DataFrame to a CSV file
df.to_csv('students.csv', index=True)
print(df.to_string())

print("CSV file created successfully!")

    reg no     name  gender  semester  study hrs  coding completed intern  s1 score  s2 score  s3 score  cgpa
0      101    Alice  Female         1          5                10    yes        10        20        30   8.5
1      102      Bob    Male         2          2                 5    yes        20        30        40   9.2
2      103  Charlie    Male         3          8                15     no        30        40        50   7.8
3      104    David    Male         1          4                 8     no        25        35        45   8.3
4      105      Eve  Female         2          6                12    yes        35        45        55   9.0
5      106    Frank    Male         3          3                 7     no        28        38        48   8.1
6      107    Grace  Female         1          7                 9    yes        22        32        42   8.7
7      108   Hannah  Female         2          1                 3     no        15        25        35   7.5
8      109      Ivy  Female         3          9                16    yes        40        50        60   9.3
9      110     Jack    Male         1          5                10    yes        30        40        50   8.6
10     111    Kevin    Male         2          2                 5     no        20        30        40   8.0
11     112     Liam    Male         3          8                15    yes        35        45        55   9.1
12     113      Mia  Female         1          4                 8     no        25        35        45   8.4
13     114     Noah    Male         2          6                12    yes        30        40        50   8.9
14     115   Olivia  Female         3          3                 7     no        28        38        48   8.2
CSV file created successfully!

In [ ]:
# 1. Extract information about the first row and the last row
first_row = df.iloc[0]
last_row = df.iloc[-1]
print("First row:")
print(first_row)
print("\nLast row:")
print(last_row)

First row:
reg no                 101
name                 Alice
gender              Female
semester                 1
study hrs                5
coding completed        10
intern                 yes
s1 score                10
s2 score                20
s3 score                30
cgpa                   8.5
Name: 0, dtype: object

Last row:
reg no                 115
name                Olivia
gender              Female
semester                 3
study hrs                3
coding completed         7
intern                  no
s1 score                28
s2 score                38
s3 score                48
cgpa                   8.2
Name: 14, dtype: object

In [ ]:
# 2. Extract information about the first column and the last column
first_column = df.iloc[:, 0]
last_column = df.iloc[:, -1]
print("\nFirst column:")
print(first_column)
print("\nLast column:")
print(last_column)

First column:
0     101
1     102
2     103
3     104
4     105
5     106
6     107
7     108
8     109
9     110
10    111
11    112
12    113
13    114
14    115
Name: reg no, dtype: int64

Last column:
0     8.5
1     9.2
2     7.8
3     8.3
4     9.0
5     8.1
6     8.7
7     7.5
8     9.3
9     8.6
10    8.0
11    9.1
12    8.4
13    8.9
14    8.2
Name: cgpa, dtype: float64

In [ ]:
# 3. Extract information about the first 5 rows and the first 5 columns
first_5_rows_5_columns = df.iloc[:5, :5]
print("\nFirst 5 rows and first 5 columns:")
print(first_5_rows_5_columns)

First 5 rows and first 5 columns:
   reg no     name  gender  semester  study hrs
0     101    Alice  Female         1          5
1     102      Bob    Male         2          2
2     103  Charlie    Male         3          8
3     104    David    Male         1          4
4     105      Eve  Female         2          6

In [ ]:
# 4. Extract information about rows 0, 3, 7, 9 and columns 0, 1, 3, 10
specific_rows_columns = df.iloc[[0, 3, 7, 9], [0, 1, 3, 10]]
print("\nRows 0, 3, 7, 9 and columns 0, 1, 3, 10:")
print(specific_rows_columns)

Rows 0, 3, 7, 9 and columns 0, 1, 3, 10:
   reg no    name  semester  cgpa
0     101   Alice         1   8.5
3     104   David         1   8.3
7     108  Hannah         2   7.5
9     110    Jack         1   8.6

In [ ]:
# 3 (i) Extract reg no, semester, cgpa for the student named X
s = df.loc[df['name'] =="Ivy" , ['reg no', 'semester', 'cgpa']]
print("Student info (reg no, semester, cgpa) for student named X:")
print(s.to_string())

Student info (reg no, semester, cgpa) for student named X:
   reg no  semester  cgpa
8     109         3   9.3

In [ ]:
# 3 (ii) Extract information from semester to cgpa for the student named X
student_info_sem_to_cgpa = df.loc[df['name'] =="Ivy", 'semester':'cgpa']
print("Student info (semester to cgpa) for student named X:")
print(student_info_sem_to_cgpa.to_string())

Student info (semester to cgpa) for student named X:
   semester  study hrs  coding completed intern  s1 score  s2 score  s3 score  cgpa
8         3          9                16    yes        40        50        60   9.3

In [ ]:
# 3 (iii) Extract reg no, name, cgpa for the student named X and cgpa is 9.0
student_info_cgpa_9 = df.loc[(df['name'] == "Eve") & (df['cgpa'] == 9.0), ['reg no', 'name', 'cgpa']]
print("\nStudent info (reg no, name, cgpa) for student named X and cgpa is 9.0:")
print(student_info_cgpa_9)

Student info (reg no, name, cgpa) for student named X and cgpa is 9.0:
   reg no name  cgpa
4     105  Eve   9.0

In [ ]:
# 3 (iv) Extract reg no, name, cgpa for the students with gender 'M'
male_students_info = df.loc[df['gender'] == 'Male', ['reg no', 'name', 'cgpa']]
print("\nMale students info (reg no, name, cgpa):")
print(male_students_info)

Male students info (reg no, name, cgpa):
    reg no     name  cgpa
1      102      Bob   9.2
2      103  Charlie   7.8
3      104    David   8.3
5      106    Frank   8.1
9      110     Jack   8.6
10     111    Kevin   8.0
11     112     Liam   9.1
13     114     Noah   8.9

In [ ]:

# 3 (v) Extract all information for the students with gender 'F' and cgpa > 8.0
female_students_cgpa_above_8 = df.loc[(df['gender'] == 'Female') & (df['cgpa'] > 8.0)]
print("\nFemale students with cgpa > 8.0:")
print(female_students_cgpa_above_8.to_string())

Female students with cgpa > 8.0:
    reg no    name  gender  semester  study hrs  coding completed intern  s1 score  s2 score  s3 score  cgpa
0      101   Alice  Female         1          5                10    yes        10        20        30   8.5
4      105     Eve  Female         2          6                12    yes        35        45        55   9.0
6      107   Grace  Female         1          7                 9    yes        22        32        42   8.7
8      109     Ivy  Female         3          9                16    yes        40        50        60   9.3
12     113     Mia  Female         1          4                 8     no        25        35        45   8.4
14     115  Olivia  Female         3          3                 7     no        28        38        48   8.2