In [ ]:
import pandas as pd
df=pd.read_csv("/content/titanic_train.csv")
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
nullvalue=df.isnull().sum()
nullvalue=nullvalue[nullvalue>0]
print(nullvalue)

Age         177
Cabin       687
Embarked      2
dtype: int64

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Age'].isnull().sum()

0

In [ ]:
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:

# Define a function to replace negative fare values with the median fare
def replace_negative_fares(df):
    # Calculate the median fare
    median_fare = df['Fare'].median()

    # Find negative fares
    negative_fares = df['Fare'] < 0

    # Replace negative fares with the median fare
    df.loc[negative_fares, 'Fare'] = median_fare


# Apply the function to the dataset
replace_negative_fares(df)

# Verify that there are no negative fares left
print("Number of negative fares:", (df['Fare'] < 0).sum())

Number of negative fares: 0
Number of negative fares: 0

In [ ]:

    # Calculate the median age
median_age = df['Age'].median()

    # Find ages greater than 100
erroneous_ages = df['Age'] > 100

# Replace erroneous ages with the median age
df.loc[erroneous_ages, 'Age'] = median_age



# Verify that there are no ages greater than 100 left
print("Number of ages greater than 100:", (df['Age'] > 100).sum())

Number of ages greater than 100: 0
Number of ages greater than 100: 0

In [ ]:
df['Cabin'] = df['Cabin'].apply(lambda x: x.split()[0] if pd.notnull(x) else x)


# Display the first few rows to verify the result
print(df[['Cabin']].head(30))

   Cabin
0    NaN
1    C85
2    NaN
3   C123
4    NaN
5    NaN
6    E46
7    NaN
8    NaN
9    NaN
10    G6
11  C103
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
20   NaN
21   D56
22   NaN
23    A6
24   NaN
25   NaN
26   NaN
27   C23
28   NaN
29   NaN

In [ ]:
if df['Fare'].dtype != 'float64':
    df['Fare'] = df['Fare'].astype(float)

# Verify the conversion
print("Data type of Fare column after conversion:", df['Fare'].dtype)

Data type of Fare column after conversion: float64

In [ ]:
# Check for duplicate rows
duplicate_rows = df.duplicated()
num_duplicates = duplicate_rows.sum()
print("Number of duplicate rows:", num_duplicates)

# Remove duplicate rows
df = df.drop_duplicates()

# Verify that duplicates have been removed
num_duplicates_after = df.duplicated().sum()
print("Number of duplicate rows after removal:", num_duplicates_after)

Number of duplicate rows: 0
Number of duplicate rows after removal: 0

In [ ]:
# Remove the 'Name_duplicate' column
if 'Name_duplicate' in df.columns:
    df = df.drop(columns=['Name_duplicate'])
else:
  print("Col does not exist")
# Verify the removal of the column
print("Columns after removing 'Name_duplicate':")
print(df.columns)

Col does not exist
Columns after removing 'Name_duplicate':
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')